.row{
    background-color: rgb(235,235,236);
    padding-top: 90px;
    padding-bottom: 20px;
}
footer{
    color: rgb(133, 133, 133);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 1px 1px 50px rgb(255, 255, 255);   
}