<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil1.jpg" class="img-fluid" id="fotoperfil" alt="">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Ariana Ailín Pérez</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Mi objetivo es aplicar mis conocimientos tanto teoricos como practicos adquiridos durante mi formacion
                academica, con el fin de beneficiar al desarrollo de la empresa y poder tener una oportunidad de
                crecimiento tanto personal como profesional.</p>
        </span>
    </div>
</div>