<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil1.jpg" class="img-fluid" id="fotoperfil" alt="">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <span>
            <h1>Acerca de mí</h1>
            <p> Soy una persona proactiva, organizada y responsable, con buenas relaciones interpersonales. 
                Cuento con conocimientos en las áreas de fotografía, edición, realización y producción audiovisual.
                 Me encuentro en busqueda de nuevos desafios para incrementar mis conocimientos en el area de diseño web.
            </p>
        </span>
    </div>
</div>