<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="../../../assets/FotoPerfil1.jpg" class="img-fluid" id="fotoperfil" alt="">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>

  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevoabout" *ngIf="isLogged">
        Agregar sobre mí
      </button>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
     
      <table class="table">
        <tbody>
          <tr *ngFor="let About of about">
            <td><h1>{{About.nombreA}}  <i class="bi bi-chat-text"></i></h1></td>
            
            <td *ngIf="isLogged">
              <button class="btn btn-dark" routerLink="/editabout/{{About.id}}">
              <i class="bi bi-pencil">EDITAR</i></button>
            </td>

            <td *ngIf="isLogged">
              <button class="btn btn-dark" (click)="delete(About.id)">
              <i class="bi bi-trash">BORRAR</i></button>
            </td>
            
          </tr> 

          <tr *ngFor="let About of about">
            
            <td>{{About.descripcionA}}</td>
           
          </tr> 
        </tbody> 
      </table>
    </div>
</div>