.row{
    padding: 10px;
}
div{
    background-color: rgb(235,235,236);
    text-align: center;
}

/*etiqueta foto de perfil*/
@media(min-width: 576px){
    #fotoperfil{
       position: absolute; 
       width: 15%;
       border-radius: 100%;
       box-shadow: 3px 3px 3px rgb(28, 8, 0);
       left: 3%;
       top: 330px;
    }
}
@media(max-width: 575px){
    #fotoperfil{
       position: absolute; 
       width: 35%;
       border-radius: 100%;
       box-shadow: 3px 3px 3px rgb(28, 8, 0);
       left: 33%;
       top: 550px;
    }
}
   
/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 30%;
} 