<div class="row">
    <h1>Formación Académica</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educación
        </button>
    </div>

    
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion"> 
                    <td>
                        <h3>{{Educacion.nombreE}}</h3>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button  class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-square"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button  class="btn btn-dark" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
