<div class="row">
    <h1><i class="bi bi-ui-checks"></i> Proyectos realizados </h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
          Nuevo Proyecto
        </button>
      </div>


   <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
          <tbody>
            <tr *ngFor="let Proyectos of proy">
              <td><h4>{{Proyectos.nombreP}}</h4></td>
              <td>{{Proyectos.descripcionP}}</td>
              
              <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editproy/{{Proyectos.id}}">
                <i class="bi bi-pencil">EDITAR</i></button>
              </td>

              <td *ngIf="isLogged">
                <button class="btn btn-dark" (click)="delete(Proyectos.id)">
                <i class="bi bi-trash">BORRAR</i></button>
              </td>
            </tr> 
          </tbody> 
        </table>
      </div>
    </div>
