.row {
    padding: 30px;
    background-color: rgb(235, 235, 236);
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 30px;
    font-family: Garamond;
    padding-bottom: 140px;
}

h1{
    font-weight: bold; 
    margin-top: 20px;
}

h4 {
    font-weight: bold;
    margin: 10px;
    
}

table{
    margin: 30px;
}