<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg7 parte1">
            <h3>Portfolio web</h3>
            <p> Proyecto final de Argentina Programa - La aplicación consiste en el desarrollo de un portfolio web que sea de arquitectura distribuida, el cual contiene diseño de interfaz de usuario, una base de datos y las API's necesarias para proveer la información a través de internet.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Banner1.jpg" class="img-fluid img-proyecto" alt="img-proyecto">
        </div>
    </div>
</div>