<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoAP.png" alt="" id="logoAP">
        </div>
        <div class="redes">
            <a href=""> <img src="../../../assets/WhatsappLogo.png" alt="Whatsapp" id="whatsapp"> </a>
            <a href=""> <img src="../../../assets/facebookLogo.png" alt="Facebook" id="facebook"> </a>
            <a href=""> <img src="../../../assets/instagramLogo.png" alt="Instagram" id="instagram"> </a>
            <a href=""> <img src="../../../assets/GitHub logo.png" alt="Github" id="github"> </a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Login</button>
        </div>
    </div>
</div>