<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoAP.png" alt="" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://wa.me/5491158028233"> <img src="../../../assets/WhatsappLogo.png" alt="Whatsapp" id="whatsapp"> </a>
            <a href="https://www.facebook.com/ari.perez.77/"> <img src="../../../assets/facebookLogo.png" alt="Facebook" id="facebook"> </a>
            <a href="https://www.instagram.com/ariii_perez/"> <img src="../../../assets/instagramLogo.png" alt="Instagram" id="instagram"> </a>
            <a href="https://github.com/ariana-perez"> <img src="../../../assets/GitHub logo.png" alt="Github" id="github"> </a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Log Out</button>
        </div>
    </div>
</div>