<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoAP.png" alt="" id="logoAP">
        </div>
        <div class="redes">
            <a href=""> <img src="../../../assets/mailLogo.png" alt="" id="mail"> </a>
            <a href=""> <img src="../../../assets/instagramLogo.png" alt="" id="instagram"> </a>
            <a href=""> <img src="../../../assets/WhatsappLogo.png" alt="" id="whatsapp"> </a>
            <a href=""> <img src="../../../assets/GitHub logo.png" alt="" id="github"> </a>
            <a href=""> <img src="../../../assets/twitter.png" alt="" id="twitter"> </a>
            <a href=""> <img src="../../../assets/facebookLogo.png" alt="" id="facebook"> </a>
            <button type="button" class="btn btn-outline-light">Login</button>
        </div>
    </div>
</div>