<div class="row">
  <h1> Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="80" [title]="'HTML'" [titleColor]="'black'" [titleFontSize]="'30px'"
      [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#7F0064'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="85" [radius]="80" [title]="'CSS'" [titleColor]="'black'" [titleFontSize]="'30px'"
      [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#7F0064'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="80" [radius]="80" [title]="'JS'" [titleColor]="'black'" [titleFontSize]="'30px'"
      [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#7F0064'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="75" [radius]="80" [title]="'Edición'" [titleColor]="'black'" [titleFontSize]="'30px'"
      [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#7F0064'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="90" [radius]="80" [title]="'Social'" [titleColor]="'black'" [titleFontSize]="'30px'"
      [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#7F0064'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress [percent]="70" [radius]="80" [title]="'Ingles'" [titleColor]="'black'" [titleFontSize]="'30px'"
      [showSubtitle]="false" [showUnits]="false" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
      [outerStrokeColor]="'#7F0064'" [innerStrokeColor]="'grey'" [animation]="true" [animationDuration]="700">
    </circle-progress>
  </div>
</div>